<div class="cart_infor">
  <h2>Your Cart</h2>
  <table>
        <%= render(cart.line_items)  %>
        <tr>
          <td class ="total_cart_cell" colspan="2" align="right">Total</td>
          <td class ="total_cart_line"><%= number_to_currency(cart.total_price)%></td>
        <tr>
  </table>
  <%= button_to 'Empty Cart', cart , method: :delete, confirm:'are you sure?' %>
</div>
