// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

.cart_infor {
  border:1px solid white;
  width: 235px;
  margin-left:0px;
  padding-left:5px;
  padding-right:5px;
  color: white;
  h2 {
    font-size:15px;
  }
  .quantity_line {
    float: left;
    margin-right:4px;
  }
  .title_line {
    width:130px;
  }
  .total_cart_line {
    border-top: 2px solid;
  }
}
