<tr>
    <td class="quantity_line"><%= line_item.quantity %> x </td>
    <td class="title_line"><%= line_item.food.title %> </td>
    <td class="total_price_each_item"><%= number_to_currency(line_item.total_price) %></td>
</tr>

